In [2]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import math
import xgboost as xgb
from sklearn.multioutput import MultiOutputRegressor
import matplotlib.pyplot as plt # 득점모델 변수 중요도
import seaborn as sns
%matplotlib inline

In [3]:
##train데이터셋 불러오기
train_df = pd.read_csv('./train.csv')
train_df.drop([ 'X_48', 'X_47', 'X_23','X_04'], inplace= True, axis=1) # 상관성 없는 컬럼 제거
# ##train데이터 쪼개주기
# train_df1 = train_df[(train_df['X_49']<10000)]
# train_df2 = train_df[(train_df['X_49']>=10000) & (train_df['X_49'] <40000)]
# train_df3 = train_df[(train_df['X_49']>=40000)]

In [4]:
##input, output 나누기
train_x = train_df.filter(regex='X')
train_y = train_df.filter(regex='Y')

# train_x1 = train_df1.filter(regex='X')
# # train_x1['X_08'] = np.log2(train_x1['X_08']) 
# train_y1 = train_df1.filter(regex='Y')
# train_x2 = train_df2.filter(regex='X')
# # train_x2['X_08'] = np.log2(train_x2['X_08']) 
# train_y2 = train_df2.filter(regex='Y')
# train_x3 = train_df3.filter(regex='X')
# # train_x3['X_08'] = np.log2(train_x3['X_08']) 
# train_y3 = train_df3.filter(regex='Y')

In [33]:

xgb_model = xgb.XGBRegressor(n_estimators=3000, max_depth=10, learning_rate=0.005, gamma = 0.6, reg_alpha=0.3,subsample=0.9, n_jobs=-1)
LR = MultiOutputRegressor(xgb_model).fit(train_x, train_y)

In [34]:
train_predict = LR.predict(train_x)
print("RMSE':{}".format(math.sqrt(mean_squared_error(train_predict, train_y))))

RMSE':0.6138340400603525

In [36]:
train_predict_df = pd.DataFrame(train_predict)
train_predict_df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,39607.000000,39607.000000,39607.000000,39607.000000,39607.000000,39607.000000,39607.000000,39607.000000,39607.000000,39607.000000,39607.000000,39607.000000,39607.000000,39607.000000
mean,1.353787,1.057210,1.013964,13.621633,31.291758,16.530127,3.155033,-26.294512,-26.308348,-22.399431,24.325455,-26.237442,-26.233570,-26.245562
std,0.138267,0.156151,0.136196,1.615734,1.392593,1.636487,0.178325,0.339835,0.331923,0.563852,0.422813,0.336048,0.334282,0.338050
min,0.287616,0.267518,0.348758,2.850113,21.218210,-19.224932,1.158152,-28.510950,-28.403759,-30.165394,20.513060,-28.576525,-28.503304,-28.410408
25%,1.270918,0.960303,0.928387,12.667385,30.599713,16.419612,3.049625,-26.492956,-26.499548,-22.613716,24.113373,-26.430266,-26.426778,-26.441125
50%,1.356421,1.054566,1.013287,13.724201,31.512913,16.628273,3.149372,-26.288118,-26.303659,-22.306957,24.360565,-26.230221,-26.227530,-26.238541
75%,1.438798,1.150208,1.095227,14.672135,32.217607,16.830564,3.256585,-26.093298,-26.114861,-22.081649,24.588947,-26.039808,-26.037328,-26.046470
max,3.033480,3.118776,2.572516,91.483574,35.458889,18.492546,4.608192,-24.411631,-24.430855,-20.236740,26.131634,-24.185436,-24.334047,-24.390100

In [17]:
##xgb_model로 train_x1에 대한 예측 모델 LR1 만들기

xgb_model = xgb.XGBRegressor(n_estimators=3000, max_depth=5, learning_rate=0.005, gamma = 1.5, reg_alpha=0.8,subsample=0.8, n_jobs=-1)
LR1 = MultiOutputRegressor(xgb_model).fit(train_x1, train_y1)

In [18]:
##LR1 예측력 확인 
train_predict1 = LR1.predict(train_x1)
print("RMSE':{}".format(math.sqrt(mean_squared_error(train_predict1, train_y1))))

RMSE':0.510645796287721

In [52]:
##xgb_model로 train_x2에 대한 예측 모델 LR2 만들기
xgb_model = xgb.XGBRegressor(n_estimators=3000, max_depth=10, learning_rate=0.005, gamma = 1.5, reg_alpha=0.8,subsample=0.8, n_jobs=-1)
LR2 = MultiOutputRegressor(xgb_model).fit(train_x2, train_y2)

In [ ]:
import xgboost as xgb
from xgboost import plot_importance
import pandas as pd
import numpy as np
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

fig, ax = plt.subplots(figsize=(10, 12))
plot_importance(LR2, ax=ax)

In [54]:
##LR2 예측력 확인 
train_predict2 = LR2.predict(train_x2)
print("RMSE':{}".format(math.sqrt(mean_squared_error(train_predict2, train_y2))))

RMSE':0.7863366631121332

In [70]:
##xgb_model로 train_x3에 대한 예측 모델 LR3 만들기
xgb_model = xgb.XGBRegressor(n_estimators=1000, max_depth=5, learning_rate=0.01, min_child_weight = 10,n_jobs=-1)
LR3 = MultiOutputRegressor(xgb_model).fit(train_x3, train_y3)

In [73]:
##LR1 예측력 확인 
train_predict3 = LR3.predict(train_x3)
print("RMSE':{}".format(math.sqrt(mean_squared_error(train_predict3, train_y3))))

RMSE':0.4510896236801714

In [20]:
train_predict11 = pd.DataFrame(train_predict1)
# train_predict22 = pd.DataFrame(train_predict2)
# train_predict33 = pd.DataFrame(train_predict3)

In [21]:
train_predict11.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,1860.000000,1860.000000,1860.000000,1860.000000,1860.000000,1860.000000,1860.000000,1860.000000,1860.000000,1860.000000,1860.000000,1860.000000,1860.000000,1860.000000
mean,1.302404,0.985750,0.965588,13.421814,31.032892,16.501106,3.181049,-26.394056,-26.402918,-22.720926,24.321497,-26.333307,-26.328062,-26.341162
std,0.091378,0.113773,0.092695,2.010851,1.863997,2.135779,0.126174,0.383682,0.372942,0.750931,0.496677,0.379799,0.382566,0.381979
min,0.668000,0.626574,0.637521,5.715807,22.136456,-19.323587,1.731761,-27.908262,-27.962101,-29.832230,21.300526,-27.905249,-27.815310,-27.891027
25%,1.240998,0.899561,0.898677,12.080394,29.945107,16.382598,3.125536,-26.621798,-26.613447,-23.115144,24.058329,-26.561705,-26.553604,-26.569137
50%,1.294984,0.965858,0.956446,13.600837,31.288212,16.666673,3.187663,-26.421999,-26.427141,-22.694739,24.356570,-26.359952,-26.356933,-26.365170
75%,1.361775,1.065781,1.023922,14.927833,32.366136,16.932405,3.249246,-26.200125,-26.208913,-22.264868,24.658130,-26.140713,-26.129167,-26.157342
max,1.574624,1.379575,1.312232,18.539421,34.969875,17.957094,3.495541,-24.652575,-24.724972,-20.648500,25.772509,-24.835564,-24.714724,-24.792223

In [76]:
##test데이터 불러오기
test_df = pd.read_csv('./test.csv').drop(columns=['ID'])
test_df.drop([ 'X_02', 'X_48', 'X_47', 'X_23', 'X_11', 'X_10', 'X_04'], inplace= True, axis=1) # 상관성 없는 컬럼 제거

test_df1 = test_df[ (test_df['X_49'] <10000)]
test_df2 = test_df[(test_df['X_49'] >=10000) &(test_df['X_49'] <40000)]
test_df3 = test_df[(test_df['X_49'] >=40000)]

In [77]:
#인덱스 미리 뽑아두기
df1_index = test_df1.index
df2_index = test_df2.index
df3_index = test_df3.index

In [80]:
##test에 대한 예측pred생성
pred1 = LR1.predict(test_df1)
pred1 = pd.DataFrame(pred1)
pred1.index = df1_index

pred2 = LR2.predict(test_df2)
pred2 = pd.DataFrame(pred2)
pred2.index = df2_index

pred3 = LR3.predict(test_df3)
pred3 = pd.DataFrame(pred3)
pred3.index = df3_index

pred = pd.concat([pred1,pred2,pred3])
pred = pred.sort_index(ascending=True) ##인덱스 순서대로 오름차순 정렬

In [81]:
pred.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000
mean,1.351346,1.055877,1.013459,13.597733,31.261406,16.518101,3.154832,-26.296278,-26.309772,-22.403994,24.315542,-26.238565,-26.234749,-26.247662
std,0.103358,0.106087,0.094255,0.810744,0.648291,0.786396,0.111747,0.217573,0.209642,0.354281,0.208165,0.213121,0.213929,0.209952
min,0.441388,0.442393,0.374483,9.590329,24.890978,-17.085930,1.594715,-27.598003,-27.476311,-28.487158,22.718166,-27.377172,-27.375931,-27.451159
25%,1.287204,0.990005,0.954311,13.078628,30.898388,16.463030,3.088496,-26.435928,-26.439726,-22.528541,24.197402,-26.372101,-26.369244,-26.378581
50%,1.355835,1.059416,1.015935,13.560974,31.305486,16.581792,3.159129,-26.286944,-26.303898,-22.327941,24.314391,-26.232578,-26.228258,-26.240541
75%,1.419701,1.125334,1.075481,14.067595,31.666986,16.704504,3.223873,-26.164813,-26.188025,-22.190619,24.434914,-26.112527,-26.109064,-26.122257
max,2.079025,1.900106,1.739939,19.623592,35.052750,17.870337,3.929528,-24.765631,-24.918531,-20.718645,25.511602,-24.991884,-24.801521,-24.875576

In [79]:
pred = np.array(pred)
pred

array([[  1.409254  ,   1.3480644 ,   1.3034408 , ..., -26.006529  ,
        -25.976574  , -26.071438  ],
       [  1.5106826 ,   1.2407665 ,   1.197045  , ..., -26.042343  ,
        -26.128712  , -26.072798  ],
       [  1.2726235 ,   0.88081217,   1.1571367 , ..., -25.734612  ,
        -25.791864  , -25.80755   ],
       ...,
       [  0.97717273,   0.98317057,   0.76839423, ..., -26.489237  ,
        -26.485092  , -26.525204  ],
       [  1.1448306 ,   0.82904136,   0.81981385, ..., -26.562267  ,
        -26.338354  , -26.614565  ],
       [  1.4235054 ,   1.2004224 ,   1.0832615 , ..., -26.37689   ,
        -26.330637  , -26.416285  ]], dtype=float32)

In [41]:
submit = pd.read_csv('./sample_submission.csv')

In [42]:
for idx, col in enumerate(submit.columns):
    if col=='ID':
        continue
    submit[col] = pred[:,idx-1]
print('Done.')

Done.

In [43]:
submit.to_csv('./xgb_bin49_1.csv', index=False)

In [5]:
##multioutputregressor 그리드서치
from sklearn.multioutput import MultiOutputRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler



gsc = GridSearchCV(
            estimator=xgb.XGBRegressor(),
            param_grid={"learning_rate": [0.02],
                        "max_depth": [ 10,12 ],
                        "n_estimators":[500],
                        "gamma":[ 0.4,0.6,0.8],
                        "reg_lambda":[1,1.2],
                        "reg_alpha" :[0.4,0.6],
                        "subsample": [0.9]
                        
                        },
            cv=5, scoring='neg_mean_squared_error', verbose=0, n_jobs=-1)

grid_result = MultiOutputRegressor(gsc).fit(train_x, train_y)
best_params = grid_result.estimators_[0].best_params_
best_score = grid_result.estimators_[0].best_score_

c:\Users\User\AppData\Local\Programs\Python\Python38\lib\site-packages\joblib\externals\loky\process_executor.py:702: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(

In [27]:
best_params ##"n_estimators""reg_alpha""gamma" 늘려서 돌리고 "learning_rate" 줄여서 돌리기

{'gamma': 1,
 'learning_rate': 0.01,
 'max_depth': 10,
 'n_estimators': 1000,
 'reg_alpha': 0.8,
 'reg_lambda': 1,
 'subsample': 0.8}

In [ ]:
from tqdm import tqdm
tqdm()

In [10]:
best_score = grid_result.estimators_[0].best_score_

In [11]:
best_score

-0.13198356955332421

안 나눠주고 제출

In [41]:
test_x = pd.read_csv('./test.csv').drop(columns=['ID'])
test_x.drop([ 'X_48', 'X_47', 'X_23','X_04'], inplace= True, axis=1)

In [42]:
preds = LR.predict(test_x)

In [45]:
preds_df = pd.DataFrame(preds)
preds_df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000,39608.000000
mean,1.352261,1.055900,1.013565,13.595883,31.262760,16.516914,3.155957,-26.297800,-26.311701,-22.407248,24.316660,-26.240763,-26.237099,-26.248806
std,0.096060,0.100051,0.088395,0.801630,0.629075,0.694264,0.106374,0.216927,0.208433,0.347973,0.205769,0.211600,0.211630,0.211017
min,0.692274,0.667236,0.629889,9.763942,24.861254,-6.348773,2.077046,-27.094837,-27.120943,-27.689297,22.289164,-27.028030,-27.012527,-27.102934
25%,1.290889,0.993150,0.957040,13.066427,30.884469,16.448387,3.091227,-26.438013,-26.444765,-22.536887,24.191743,-26.375875,-26.371932,-26.383542
50%,1.356429,1.060320,1.016818,13.549700,31.301836,16.576518,3.160997,-26.290326,-26.309372,-22.334867,24.313960,-26.235695,-26.231909,-26.243676
75%,1.418935,1.123754,1.073537,14.070267,31.677611,16.706234,3.225233,-26.163607,-26.185529,-22.188807,24.439826,-26.110713,-26.108411,-26.119930
max,1.737276,1.474110,1.398543,18.338425,34.045734,17.609396,3.602377,-25.132694,-25.278158,-21.267416,25.357281,-25.065500,-25.078758,-25.107721

In [44]:
submit = pd.read_csv('./sample_submission.csv')

In [46]:
for idx, col in enumerate(submit.columns):
    if col=='ID':
        continue
    submit[col] = preds[:,idx-1]
print('Done.')

Done.

In [47]:
submit.to_csv('./xgb1submit.csv', index=False)