In [1]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import math
from sklearn.multioutput import MultiOutputRegressor

In [45]:
train_df = pd.read_csv('./train.csv')

In [38]:
test_df = pd.read_csv('./test.csv')

In [53]:
train_df["X_07"] = np.log(train_df["X_07"])
train_df["X_08"] = np.log(train_df["X_08"])
train_df["X_49"] = np.log(train_df["X_49"])

In [54]:
train_x = train_df.filter(regex='X') # Input : X Featrue
train_y = train_df.filter(regex='Y') # Output : Y Feature

In [43]:
train_x.head(5)

,X_01,X_02,X_03,X_04,X_05,X_06,X_07,X_08,X_09,X_10,...,X_48,X_49,X_50,X_51,X_52,X_53,X_54,X_55,X_56,X789
0,70.544,103.320,67.47,1,101.892,74.983,29.45,62.38,245.71,0.0,...,1,9706.03,137.043591,135.359219,147.837968,134.313475,125.605427,136.721425,125.028256,112.513333
1,69.524,103.321,65.17,1,101.944,72.943,28.73,61.23,233.61,0.0,...,1,10423.43,133.736691,135.979817,149.924692,123.630583,127.893337,143.322659,124.877308,107.856667
2,72.583,103.320,64.07,1,103.153,72.943,28.81,105.77,272.20,0.0,...,1,10948.53,132.805112,131.055355,146.814592,128.939070,127.012195,140.395688,122.238232,135.593333
3,71.563,103.320,67.57,1,101.971,77.022,28.92,115.21,255.36,0.0,...,1,15007.03,134.138760,133.239422,139.720132,132.260824,130.723186,147.624829,134.875225,133.163333
4,69.524,103.320,63.57,1,101.981,70.904,29.68,103.38,241.46,0.0,...,1,11051.03,142.728970,136.620022,134.853555,134.760252,125.647793,139.331105,123.272762,124.840000

In [55]:
rf_run = RandomForestRegressor(random_state=0, max_depth=25, min_samples_leaf=8, min_samples_split=8,n_estimators=200)
LR1 = MultiOutputRegressor(rf_run).fit(train_x, train_y)

In [8]:
train_predict = rf_run.predict(train_x)
print("RMSE':{}".format(math.sqrt(mean_squared_error(train_predict, train_y))) )

RMSE':1.2140772520800742

In [9]:
test_df = pd.read_csv('./test.csv')

In [10]:
test_x = test_df.filter(regex='X')
test_y = test_df.filter(regex='Y')

In [18]:
test_predict = rf_run.predict(test_x)

print("RMSE':{}".format(math.sqrt(mean_squared_error(train_predict, train_y))) )

In [14]:
test_predict = pd.DataFrame(test_predict)
test_predict.to_csv("./랜포예측.csv")

In [19]:
submit = pd.read_csv('./sample_submission.csv')

In [20]:
for idx, col in enumerate(submit.columns):
    if col=='ID':
        continue
    submit[col] = test_predict[:,idx-1]
print('Done.')

Done.

In [22]:
submit.to_csv('./submit_rf.csv', index=False)